USE [DB_ETAFASION]
GO
/****** Object:  Table [dbo].[TBL_ACCIONCOMPRA]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCIONCOMPRA](
	[ACCID] [int] IDENTITY(1,1) NOT NULL,
	[ACCDESCRIPCION] [varchar](100) NULL,
	[ACCFECHACREACION] [datetime] NULL,
	[ACCESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CONCLUSIONCOMPRA]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONCLUSIONCOMPRA](
	[CONID] [int] IDENTITY(1,1) NOT NULL,
	[CONDESCRIPCION] [varchar](100) NULL,
	[CONFECHACREACION] [datetime] NULL,
	[CONESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLECATEGORIACOMPRA]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLECATEGORIACOMPRA](
	[DCAID] [int] IDENTITY(1,1) NOT NULL,
	[DCADESCRIPCION] [varchar](100) NULL,
	[DCAFECHACREACION] [datetime] NULL,
	[DCAESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[DCAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLESUBCATEGORIACOMPRA]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLESUBCATEGORIACOMPRA](
	[DSCID] [int] IDENTITY(1,1) NOT NULL,
	[DCAID] [int] NULL,
	[DSCDESCRIPCION] [varchar](200) NULL,
	[DSCFECHACREACION] [datetime] NULL,
	[DSCESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[DSCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ENCUESTA]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ENCUESTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PREGUNTA_1] [nvarchar](max) NULL,
	[CONVERSATION_ID] [nvarchar](max) NULL,
	[FECHA] [datetime] NULL,
	[PREGUNTA_2] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBL_ENCUESTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FLUJOS]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FLUJOS](
	[IDFLUJO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREFLUJO] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FORMULARIO]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FORMULARIO](
	[ID_FORMULARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_INTERACTION] [nvarchar](max) NULL,
	[NOMBRE] [nvarchar](max) NULL,
	[CEDULA] [nvarchar](max) NULL,
	[CORREO] [nvarchar](max) NULL,
	[TELEFONO] [nvarchar](max) NULL,
	[COMENTARIO] [nvarchar](50) NULL,
	[EMPRESA] [nvarchar](max) NULL,
	[SERVICIO] [nvarchar](max) NULL,
	[CATEGORIA] [nvarchar](max) NULL,
	[ACCION] [nvarchar](max) NULL,
	[TIPO] [nvarchar](max) NULL,
	[FECHA] [datetime] NULL,
	[AGENTE] [nvarchar](max) NULL,
	[EMISOR_SOLICITUD] [nvarchar](max) NULL,
	[TIENDA] [nvarchar](max) NULL,
	[EMISOR_SOLICITUDQ] [nvarchar](max) NULL,
	[TIENDA1] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBL_FORMULARIO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMULARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OPCIONES]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OPCIONES](
	[IDOPCION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREOPCION] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ORGANIZACION]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ORGANIZACION](
	[ORGID] [int] IDENTITY(1,1) NOT NULL,
	[ORGNOMBRE] [varchar](100) NULL,
	[ORGTIPOSUSCRIPCION] [varchar](100) NULL,
	[ORGNUMEROLICNECIAS] [int] NULL,
	[ORGESTADO] [char](1) NULL,
	[ORGFECHACREACION] [datetime] NULL,
	[ORGIDCLIENTE] [varchar](200) NULL,
	[ORGSECRETOCLIENTE] [varchar](200) NULL,
	[ORGCORREOCONTACTO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_REGISTROCOMPRAWHATSAPP]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP](
	[REID] [int] IDENTITY(1,1) NOT NULL,
	[DSCID] [int] NULL,
	[ACCID] [int] NULL,
	[CONID] [int] NULL,
	[REINTERACTIONID] [varchar](max) NULL,
	[RECEDULA] [varchar](20) NULL,
	[RENOMBRES] [varchar](max) NULL,
	[RECORREO] [varchar](max) NULL,
	[RETELEFONO] [varchar](20) NULL,
	[REEMISORSOLICITUD] [varchar](200) NULL,
	[RENOMBRETIENDA] [varchar](200) NULL,
	[REDFECHACREACION] [datetime] NULL,
	[REESTADO] [char](1) NULL,
	[DCAID] [int] NULL,
	[RESUBCATEGORIACOMPRA] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[REID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIENDAS]    Script Date: 28/08/2020 10:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIENDAS](
	[ID_TIENDAS] [int] IDENTITY(1,1) NOT NULL,
	[EMPRESA] [nvarchar](6) NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ESTADO] [nvarchar](2) NULL,
	[FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_TIENDAS] PRIMARY KEY CLUSTERED 
(
	[ID_TIENDAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIPO]    Script Date: 28/08/2020 10:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIPO](
	[ID_TIPO] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ESTADO] [nvarchar](max) NULL,
	[FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_TIPO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRANSACCION_IVR]    Script Date: 28/08/2020 10:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRANSACCION_IVR](
	[IDIVRV] [int] IDENTITY(1,1) NOT NULL,
	[CONVERSATIONID] [varchar](max) NULL,
	[IDENTIFICACIONIVR] [varchar](max) NULL,
	[FLUJO] [varchar](max) NULL,
	[TRANSACCIONESIVR] [varchar](max) NULL,
	[FECHAIVR] [datetime] NULL,
 CONSTRAINT [PK_TBL_TRANSACCION_IVR] PRIMARY KEY CLUSTERED 
(
	[IDIVRV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ACCIONCOMPRA] ADD  DEFAULT (getdate()) FOR [ACCFECHACREACION]
GO
ALTER TABLE [dbo].[TBL_ACCIONCOMPRA] ADD  DEFAULT ('1') FOR [ACCESTADO]
GO
ALTER TABLE [dbo].[TBL_CONCLUSIONCOMPRA] ADD  DEFAULT (getdate()) FOR [CONFECHACREACION]
GO
ALTER TABLE [dbo].[TBL_CONCLUSIONCOMPRA] ADD  DEFAULT ('1') FOR [CONESTADO]
GO
ALTER TABLE [dbo].[TBL_DETALLECATEGORIACOMPRA] ADD  DEFAULT (getdate()) FOR [DCAFECHACREACION]
GO
ALTER TABLE [dbo].[TBL_DETALLECATEGORIACOMPRA] ADD  DEFAULT ('1') FOR [DCAESTADO]
GO
ALTER TABLE [dbo].[TBL_DETALLESUBCATEGORIACOMPRA] ADD  DEFAULT (getdate()) FOR [DSCFECHACREACION]
GO
ALTER TABLE [dbo].[TBL_DETALLESUBCATEGORIACOMPRA] ADD  DEFAULT ('A') FOR [DSCESTADO]
GO
ALTER TABLE [dbo].[TBL_ORGANIZACION] ADD  DEFAULT ('A') FOR [ORGESTADO]
GO
ALTER TABLE [dbo].[TBL_ORGANIZACION] ADD  DEFAULT (getdate()) FOR [ORGFECHACREACION]
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP] ADD  DEFAULT (getdate()) FOR [REDFECHACREACION]
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP] ADD  DEFAULT ('1') FOR [REESTADO]
GO
ALTER TABLE [dbo].[TBL_TIENDAS] ADD  CONSTRAINT [DF_TBL_TIENDAS_FECHA_CREACION]  DEFAULT (getdate()) FOR [FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_TIPO] ADD  CONSTRAINT [DF_TBL_TIPO_ESTADO]  DEFAULT ('A') FOR [ESTADO]
GO
ALTER TABLE [dbo].[TBL_TIPO] ADD  CONSTRAINT [DF_TBL_TIPO_FECHA_CREACION]  DEFAULT (getdate()) FOR [FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_TRANSACCION_IVR] ADD  CONSTRAINT [DF_TBL_TRANSACCION_IVR_FECHAIVR]  DEFAULT (getdate()) FOR [FECHAIVR]
GO
ALTER TABLE [dbo].[TBL_DETALLESUBCATEGORIACOMPRA]  WITH CHECK ADD FOREIGN KEY([DCAID])
REFERENCES [dbo].[TBL_DETALLECATEGORIACOMPRA] ([DCAID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([ACCID])
REFERENCES [dbo].[TBL_ACCIONCOMPRA] ([ACCID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([ACCID])
REFERENCES [dbo].[TBL_ACCIONCOMPRA] ([ACCID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([CONID])
REFERENCES [dbo].[TBL_CONCLUSIONCOMPRA] ([CONID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([CONID])
REFERENCES [dbo].[TBL_CONCLUSIONCOMPRA] ([CONID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([DCAID])
REFERENCES [dbo].[TBL_DETALLECATEGORIACOMPRA] ([DCAID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([DCAID])
REFERENCES [dbo].[TBL_DETALLECATEGORIACOMPRA] ([DCAID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([DSCID])
REFERENCES [dbo].[TBL_DETALLESUBCATEGORIACOMPRA] ([DSCID])
GO
ALTER TABLE [dbo].[TBL_REGISTROCOMPRAWHATSAPP]  WITH CHECK ADD FOREIGN KEY([DSCID])
REFERENCES [dbo].[TBL_DETALLESUBCATEGORIACOMPRA] ([DSCID])
GO
/****** Object:  StoredProcedure [dbo].[spTransaccionIVR]    Script Date: 28/08/2020 10:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTransaccionIVR]
	
@conversationID varchar(MAX),
@identificacionIvr varchar(MAX),
@flujo varchar(MAX),
@transaccionesIVR varchar(MAX)


AS
BEGIN
DECLARE

@dato int,
@transacciones varchar(500)	

SET @dato= (SELECT count(*) FROM [TBL_TRANSACCION_IVR] where CONVERSATIONID=@conversationID)


IF(@dato=0)
BEGIN

INSERT INTO TBL_TRANSACCION_IVR
           (CONVERSATIONID
           ,IDENTIFICACIONIVR
           ,FLUJO
		   ,TRANSACCIONESIVR)
     VALUES
           (@conversationID,@identificacionIvr,@flujo,@transaccionesIVR)

		   PRINT 'REGISTRO INSERTADO EXITOSAMENTE'

END
ELSE 
BEGIN 

SET @transacciones= (SELECT TRANSACCIONESIVR FROM TBL_TRANSACCION_IVR where CONVERSATIONID=@conversationID)

UPDATE TBL_TRANSACCION_IVR SET TRANSACCIONESIVR=(SELECT CONCAT(@transacciones,',',@transaccionesIVR)) WHERE CONVERSATIONID=@conversationID

PRINT 'REGISTRO ACTUALIZADO EXITOSAMENTE'

END

END



GO
